    * {
    box-sizing: border-box;
}

body {
    font-size: 0;
}

.box {
    font-size: 16px;
    height: 500px;
    width: 25%;
    padding: 50px;
    float: left;
    border: 10px solid orange;
    overflow: auto;
}

@media (max-width: 786px) {
    #gallery {
        width: 100%;
    }
    
    @media all and (min-width: 786px) and (max-width: 950px) {
        #gallery {
            width: 50%;
        }
    }
