@keyframes anim {
    0% {color: black}
    
    100% {visibility: hidden}
}

.numery {
    position: relative;
    font-size: 200px;
}

.love {
    font-size: 80px;
}

p {
    
    height: 400px;
    width: 400px;
    position: absolute;
    background-color: violet;
    text-align: center;
    padding: 100px;
    text-decoration-color: black;
    margin: 30px;
    top: 30px;
    box-sizing: border-box;
}

.dziesiec {
    animation-duration: 1s;
    animation-name: anim; 
    
}

.dziewiec {
    animation-duration: 4s;
    animation-name: anim; 
    
}

.osiem {
    animation-duration: 6s;
    animation-name: anim; 
    
}


